@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header .img-banner{
    max-height: 500px;
}

header .banner{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

header .banner .banner-title {
    position: absolute;
    top: 6rem;
    right: 18rem;
    font-size: 2.5rem;
}

header .banner .banner-title-1{
    position: absolute;
    top: 10rem;
    right: 5rem;
    font-size: 2.8rem;
}


